<div class="container" ng-controller="EmployeeListController as self">
    <div class="col-xs-12">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <span style="line-height: 34px;">Employees</span>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#user-modal" ng-click="self.addEmployee()" style="float: right;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Hire Date</th>
                    <th>Office</th>
                    <th>Title</th>
                    <th>Year Salary</th>
                    <th>Contract Till</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="employee in self.employees">
                        <td class="col-xs-1">{{employee.id}}</td>
                        <td class="col-xs-1">{{employee.username}}</td>
                        <td class="col-xs-1">{{employee.name}}</td>
                        <td class="col-xs-1">{{(employee.hireDate | date : 'yyyy-MM-dd') || 'N/A' }}</td>
                        <td class="col-xs-1">{{employee.office.city}}, {{employee.office.address}}</td>
                        <td class="col-xs-1">{{employee.title}}</td>
                        <td class="col-xs-1">{{employee.yearSalary}}</td>
                        <td class="col-xs-1">{{(employee.contractTill | date : 'yyyy-MM-dd') || 'N/A' }}</td>
                        <td class="col-xs-3">
                            <button class="btn btn-xs btn-info" ng-click="self.editEmployee(employee)">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="self.deleteEmployee(employee)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>