<div class="container" ng-controller="ProductListController as self">
    <div class="col-xs-12">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <span style="line-height: 34px;">Products</span>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#product-modal" ng-click="self.addProduct()" style="float: right;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Color</th>
                    <th>Code</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in self.products">
                        <td class="col-xs-1">{{product.id}}</td>
                        <td class="col-xs-1">{{product.name}}</td>
                        <td class="col-xs-1">{{product.size}}</td>
                        <td class="col-xs-1">{{product.type.age}} {{product.type.season}} {{product.type.type}} (Gender: {{product.type.gender}})</td>
                        <td class="col-xs-1">{{product.color}}</td>
                        <td class="col-xs-1">{{product.code}}</td>
                        <td class="col-xs-3">
                            <button class="btn btn-xs btn-info" ng-click="self.editProduct(product)">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="self.deleteProduct(product)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>