<div class="container">
    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Employees
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadEmployee('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadEmployee('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadEmployee('csv')">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Countries
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadCountry('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadCountry('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadCountry('csv')">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Years
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadYear('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadYear('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadYear ('csv')">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Offices
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadOffice('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadOffice('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadOffice('csv')">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Products
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadProduct('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadProduct('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadProduct('csv')">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Products(detailed)
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="self.downloadProductDetailed('pdf')">PDF</a></li>
                <li><a href="#" ng-click="self.downloadProductDetailed('xlsx')">XLSX</a></li>
                <li><a href="#" ng-click="self.downloadProductDetailed('csv')">CSV</a></li>
            </ul>
        </div>
    </div>
</div>