<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="self.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="self.updateMode">Update Office</h4>
            <h4 class="modal-title" ng-if="!self.updateMode">Create Office</h4>
        </div>
        <div class="modal-body">
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">City</span>
                <input type="text" class="form-control" ng-model="self.office.city">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Address</span>
                <input type="text" class="form-control" ng-model="self.office.address">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Fax</span>
                <input type="text" class="form-control" ng-model="self.office.fax">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Phone</span>
                <input type="text" class="form-control" ng-model="self.office.phone">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Country</span>
                <select ui-select2 ng-model="temporaryCountry" data-placeholder="Pick a Country">
                    <option ng-repeat="country in self.countries" value="{{country.id}}">{{country.name}}</option>
                </select>
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Postal Code</span>
                <input type="text" class="form-control" ng-model="self.office.postalCode">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="self.saveOffice()">Save</button>
            <button class="btn btn-default" type="button" ng-click="self.cancel()">Cancel</button>
        </div>
    </div>
</div>