
<div class="container" ng-controller="ConversationsRateListController as self">
    <div class="col-xs-12">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <span style="line-height: 34px;">Conversation</span>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#conversation-modal" ng-click="self.addEntity()" style="float: right;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>Country Key</th>
                    <th>Period Key</th>
                    <th>Conversation</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="conversationRates in self.entities">
                        <td class="col-xs-1">{{conversationsRate.id}}</td>
                        <td class="col-xs-1">{{conversationRates.countryKey}}</td>
                        <td class="col-xs-1">{{conversationRates.periodKey}}</td>
                        <td class="col-xs-1">{{conversationRates.convertion}}</td>
                        <td class="col-xs-3">
                            <button class="btn btn-xs btn-info" ng-click="self.editEntity(conversationRates)">Edit</button>
                            <button class="btn btn-xs btn-danger" ng-click="self.deleteEntity(conversationRates)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>