<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="self.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="self.updateMode">Update Employee</h4>
            <h4 class="modal-title" ng-if="!self.updateMode">Create Employee</h4>
        </div>
        <div class="modal-body">
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Username</span>
                <input type="text" class="form-control" ng-model="self.entity.username">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" ng-model="self.entity.name">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Hire Date</span>
                <datepicker date-format="dd.MM.yyyy">
                    <input type="text" class="form-control" ng-model="self.entity.hireDate">
                </datepicker>
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Office Key</span>
                <input type="text" class="form-control" ng-model="self.entity.officeKey">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" ng-model="self.entity.title">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Contract Till</span>
                <datepicker date-format="dd.MM.yyyy">
                    <input type="text" class="form-control" ng-model="self.entity.contractTill">
                </datepicker>
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Reports To</span>
                <input type="text" class="form-control" ng-model="self.entity.reportsTo">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="self.saveEntity()">Save</button>
            <button class="btn btn-default" type="button" ng-click="self.cancel()">Cancel</button>
        </div>
    </div>
</div>