<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="self.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="self.updateMode">Update Person</h4>
            <h4 class="modal-title" ng-if="!self.updateMode">Create Person</h4>
        </div>
        <div class="modal-body">
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Username</span>
                <input type="text" class="form-control" ng-model="self.person.username">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" ng-model="self.person.name">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Office Key</span>
                <input type="text" class="form-control" ng-model="self.person.officeKey">
            </div>
            <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon">Last Name</span>
                <input type="text" class="form-control" ng-model="self.person.lastName">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="self.savePerson()">Save</button>
            <button class="btn btn-default" type="button" ng-click="self.cancel()">Cancel</button>
        </div>
    </div>
</div>